<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <a class="sidebar-nav-item logged-in-as">Logged in as:
        pixelzery@gmail.com</a>

    <div class="sidebar-item sidebar-title">
        <center>
            <img src="/res/img/logo-800.png">
            <h3>PixelEconomy</h3>
        </center>
        <p>Virtual marketplace for creating, buying, and selling pixel art, made by <a
                href="https://github.com/pixelzery" target="_blank">Pixelzery</a>.
            <br>For more information, see <a href="{{ '/about' | absolute_url }}">about</a>.</p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.title == 'Marketplace' %} active{% endif %}"
            href="{{ '/' | absolute_url }}">Marketplace</a>

        <a class="sidebar-nav-item{% if page.title == 'Create' %} active{% endif %}"
            href="{{ '/create' | absolute_url }}">Create</a>

        <a class="sidebar-nav-item{% if page.title == 'Palettes' %} active{% endif %}"
            href="{{ '/palettes' | absolute_url }}">Palettes</a>

        <a class="sidebar-nav-item{% if page.title == 'My Portfolio' %} active{% endif %}"
            href="{{ '/my-portfolio' | absolute_url }}">My Portfolio</a>


        <a class="sidebar-nav-item{% if page.title == 'About' %} active{% endif %}"
            href="{{ '/about' | absolute_url }}">About</a>


        <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
        <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
        <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <div class="sidebar-item">
        <p>
            &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
    </div>
</div>